<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1><%= @page&.title || "Contact Us" %></h1>
      <hr>
      <p class="lead"><%= @page&.content %></p>
    </div>
  </div>
</div>